$primary-color: #6554C0;
$primary-color-hover: #4d4d99;

$primary-blue: #0052cc;
$primary-blue-hover: #004a94;

$primary-red: #FF000A;
$warning: #dc3545;

$primary-dark: #091e42;
$primary-white: #FFFFFF;

$secondary-green: #36B37E;
$secondary-yellow: #FFAB00;
$secondary-yellow-hover: #e09200;
$secondary-purple: #6554C0;

$dark-900: #091e42;
$dark-800: #172b4d;
$dark-700: #253858;
$dark-600: #344563;
$dark-500: #42526e;

$mid-900: #505F79;
$mid-800: #5E6C84;
$mid-700: #6B778C;
$mid-600: #97A0AF;
$mid-500: #A5ADBA;
$mid-400: #b3bac5;

$light-500: #C1C7D0;
$light-400: #B3BAC5;
$light-300: #EBECF0;
$light-200: #F4F5F7;
$light-100: #FAFBFC;